.main-container {
    text-align: center;
    min-height: 100%;
    margin-bottom: -100px;
}

.content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    content: "";
    display: block;
    background-color: #eeff;
}

.redactor-content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
}

.landing-content {
    display: flex;
    justify-content: center;
    /*background-image: url("images/bg7.jpg");*/
    /*background-position: center;*/
}

.tiers-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 1em;
}
.header-tier{
    background-color: #FE753B;
}
.tier-example{
    border: 1px solid darkgray;
    border-radius: 8px;
    height: 75vh;
    width: 25vw;
}
.tier-example.active{
    border: 1px solid #FE753B;
}
.tier-name{
    font-weight: 700;
    padding-top: 8px;
    background-color: lightblue;
    height: 25px;
    border-radius: 8px 8px 0 0;
}
.tier-name.selected{
    background-color: #0a58ca;
    color: white;
    font-weight: 900;
}
.tier-option{
    display: flex;
    align-items: center;
}
.mt-10{
    margin-top: 10px;
}
.tier-options-list > li{
    text-align: start;
}
.option-true{
    color: green
}
.option-false{
    color: grey
}
.option-cost{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    background-color: #0a58ca;
    color: white;
    font-weight: 900;
    border-radius: 20px;
}

/*.tier-example:hover > *{*/
/*    font-weight: bold;*/
/*    font-size: larger;*/
/*}*/

:root {
    --color-vnlz: #0a58ca;
    --color-sz: green;
    --color-main-background: #000000;
    --header-height: 7vh;
    --footer-height: 5vh;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

.header-left-menu {
    margin-right: auto;
    padding: 20px;
    color: wheat;
}

.header-right-menu {
    margin-left: auto;
    padding: 20px;
}

.image-logo {
    padding: 0 25px;
    height: 45px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: wheat;
    min-height: var(--footer-height);
}

.dropzone {
    border: 3px dashed deepskyblue;
    margin: 0;
    padding: 0;
    height: 171px;
    border-radius: 8px;
}

.files-wrapper {
    display: flex;
}

.adv-place-vertical {
    width: 25%;
    border: 1px solid darkgrey;
    display: none;
}

.file-card {
    display: flex;
    width: 13rem;
    height: 10rem;
    border-radius: 1rem;
}

.file-card-title {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 11rem; /* fixed width */
    height: 5rem; /* fixed height */
    overflow: hidden; /* hide overflow content */
    padding: 16px 16px 2px;
}

.file-card-title:hover {
    overflow: visible; /* show hidden content on hover */
    filter: none; /* remove the blur effect on hover */
}

.duration-info {
    margin-top: auto;
}

.on-air-label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.file-menu {
    margin: 0.5rem 4rem 0;
}

.side-tabpanel {
    background-color: whitesmoke;
    width: 100%;
}

.playerLayerCurrentPosition {
    margin-bottom: 15px;
    position: relative;
    background: #28282f;
    overflow: scroll;
}

.playerLayerCurrentPosition marker {
    top: -5px;
    height: calc(100% + 25px) !important;
}

.playerLayerCurrentPosition marker div {
    cursor: context-menu !important;
}

.markers-placeholder {
    background-color: #2f4f4fad;
    height: 15px;
}

wave > showtitle {
    color: #e2ff00;
}

wave > cursor {
    color: #02ff2b
}

wave > marker {
    /* wavesurfer marker label text marker*/
    color: #02ff2b;
}

wave > marker > div:first-child {
    /*wavesurfer marker vertical line*/
    background-color: lawngreen !important;
}


region {
    background-color: rgba(255, 255, 0, 0.51) !important;
    opacity: 0.5 !important;
}