.main-container {
    text-align: center;
    min-height: 100%;
    margin-bottom: -100px;
}

.content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    content: "";
    display: block;
    background-color: #eeff;
}

.redactor-content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
}

:root {
    --color-vnlz: #0a58ca;
    --color-sz: green;
    --color-main-background: #000000;
    --header-height: 7vh;
    --footer-height: 5vh;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

.header-left-menu {
    margin-right: auto;
    padding: 20px;
    color: wheat;
}

.header-right-menu {
    margin-left: auto;
    padding: 20px;
}

.image-logo {
    padding: 0 25px;
    height: 45px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: wheat;
    min-height: var(--footer-height);
}

.dropzone {
    border: 3px dashed deepskyblue;
    margin: 0;
    padding: 0;
    height: 171px;
}

.file-card {
    display: flex;
    width: 14rem;
    height: 10rem;
    border-radius: 1rem;
}

.file-card-title {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 12rem; /* fixed width */
    height: 5rem; /* fixed height */
    overflow: hidden; /* hide overflow content */
    padding: 16px 16px 2px;
}

.file-card-title:hover {
    overflow: visible; /* show hidden content on hover */
    filter: none; /* remove the blur effect on hover */
}

.duration-info {
    margin-top: auto;
}

.on-air-label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.file-menu {
    margin: 0.5rem 4rem 0;
}

.side-tabpanel {
    background-color: whitesmoke;
    width: 100%;
}