# JWT settings
JWT_SECRET=<some_secret_str>
JWT_ALGORITHM=HS256

# PostgreSQL
DB_HOST=db_host_for_example:localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=party

# Files
UPLOAD_FOLDER=data/upload_files

# host settings
API_SCHEMA=http
API_HOST=localhost
API_PORT=5000